/*APRENDENDO SOBRE CORES AULA 1*/

/*
h1{
color:rgba(255, 0, 0, 0.445);
o rgba add mais uma propriedade onde podemos deixar tranparente, mas a cor ainda continua vermelho
}
h1{
color:#ff000041;
aqui temos a transparencia em hexadecimal
}

h1{
color:#ff00ff;
cor roxa
}
*/

/*h1{
    background-color:aqua;
color:#ff00ff;
width: 50%;
border: 9px dotted gray;

}
*/
* {
  box-sizing: border-box;
}
:root {
  font-size: 14px;
}

body {
  margin: 0;
  background-color: white;
}

h2 {
  width: 50%;
  font: clamp(2rem, 5vh, 3.6rem) / 1.1 "Nunito", sans-serif;

  font-weight: bold;
  text-align: center; /* se refere ao testo dentro do h2*/
  border: 9px solid red;
}
/*
p {
  background-color: black;
  color: white;
}
*/
span {
  font-size: 40px;
  font-family: "comic sans ms";
  color: yellow;
  text-decoration: underline;
  text-transform: uppercase; /*letras maiuscula*/
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgb(59, 35, 35);
}

ul {
  font-size: 30px;
  list-style: square;
}

ol {
  font-size: 40px;
  list-style: upper-latin;
  margin-left: 40px;
}

/*SOBRE ID E CLASSES*/

.conteudo {
  margin-left: 1rem;
}

#titulo-principal {
  margin-left: 5rem;
}
/*1 - 0 - 0 = este seletor vai ter peso 1000 por que vou selecionar ele pelo id/ pegou nao importantando a posição que esta no css */

#titulo-principal {
  color: aquamarine;
}
/* cascata e sobre escrever uma regra*/
/* 0 - 2 - 0 = seletor por duas classes , é peso somado, 2 classes peso 20, 3 classes peso 30*/
.titulo.titulo-pagna {
  color: #b66983;
  margin-left: 3rem;
} /*este seletor é mais especifico que os seletores abaixo/por que eu quero todos que tiverem essas duas classes*/
/* 0 - 1 - 0 = seletor por classe tem peso 10*/
.titulo-pagna {
  color: red;
  font-size: 5rem;
  border: 5px solid red;
}
/* 0 - 1 - 0 = seletor por classe tem peso 10*/
.titulo {
  color: green;
  border-style: dashed;
}
/* 0 - 0 -1> seletor por tag tem peso 1*/
/*h1{
    color: blue !important;
}*/

/* h1 { */
/* color: blue; */
/* } */

.titulo-generico {
  font-size: 40px;
  color: red;
}

.container-exemplo .titulo-generico {
  /*NAO IMPORTA O NIVEL, PEGUE TODOS OS ELEMENTOS QUE TEM O TITULO-GENERICO E APLIQUE AS REGRAS A SEGUIR*/
  font-size: 80px;
  color: #b263bd;
}

.meu-link {
  font-size: 40px;
  text-decoration: none;
}

.meu-link:hover {
  font-size: 50px;
  text-decoration: underline;
  background-color: brown;
}

.meu-link:link {
  color: green;
}

.meu-link:visited {
  color: #b66983;
}

.meu-link:active {
  /* quando se esta apertando ele*/
  font-size: 40px;
  color: #380315;
}

.meu-link:focus {
  /*aquilo que esta focado*/
  font-size: 90px;
  color: #050505;
}

#nome {
  font-size: 30px;
  color: #182b69;
  background: #130107;
}

#nome:focus {
  font-size: 90px;
  color: #49051f;
  background: #b66983;
}

/*outros seletores e pseudo classes*/

.nav-menu {
  border: 2px solid blue;
  list-style: none;
}

.menu-item {
  border: 2px dashed rgb(80, 1, 67);
  background-color: grey;
  margin-bottom: 20px;
}

/*EU NAO QUERO QUE MEU ULTIMO ITEM PEGUE O MARGIN-BOOTON*/

.menu-item:last-child {
  margin-bottom: 0px;
}

/*EU QUERO QUE MEU PRIMEIRO ITEM DA MINHA LISTA PEGUE A FORMATAÇÃO*/

.menu-item:first-child {
  color: red;
}

/*EU QUERO PEGAR MEU 3 FILHO*/

.menu-item:nth-child(3) {
  background: green;
}

/*EU QUERO QUE A PARTIR DO 2 ITEM RECEBA AS FORMATAÇÕES A SEGUIR*/

.menu-item:nth-child(n + 2) {
  font-weight: bold;
}

/*SELETORES DE ATRIBUTOS*/
/*QUERO SELECIONAR ALGUM FORMULARIO PELO TIPO, NUMERO, TEXTO, E AFINS*/
.meu-input[type="number"] {
  font-size: 70px;
  background-color: black;
  color: rgb(231, 229, 229);
  margin-bottom: 30px;
}
/*AULA DE DISPLAY MODE*/
.bloco-inicial {
  /*por padrao bloco*/
  font-size: 30px;
  background: #49051f;
  display: block;
  margin-bottom: 20px;
  margin-right: 3px;
}
/*
span
    font-size: 40px;
    font-family:"comic sans ms" ;
    color:yellow;
    text-decoration: underline;
    text-transform:uppercase;letras maiuscula
    display:inline; por padrao 
}*/

.menu-items {
  border: 2px dashed rgb(80, 1, 67);
  background-color: grey;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 30px;
  min-width: 200px;
}

.escondido {
  font-size: 1rem;
  color: #0d4e68;
  display: none;
}

/*AULA DE BOX-MODEL*/

.box {
  width: 100px;
  height: 100px;
  background-color: #119bd1;
  /*border: 10px solid red;*/
  /*padding: 10px;
padding-top: 40px;
padding-left: 5px;
padding-right: 10px;
padding-bottom: 20px;
*/
  padding: 10px 40px;
  margin: 10px;

  border-top: 10px solid red;

  border-bottom: 4px dashed green;
}
/*AULA DE LAYOUTS-FLOAT-POSITION*/
/* EXEMPLO 1 */
.wrapper {
  /*display: block; por padrao temos o display block por ser uma div*/
  background-color: #0202297c;
  font-size: 1.5rem;
  width: 50rem;

  text-align: center;
  margin: 0 auto;
}

.wrapper p {
  margin-top: 0;
}

.wrapper .gatinho {
  float: left;
  /* aqui meus elementos estao flutuando.
border:3px solid magenta; 

margin-right: 10px;
margin-bottom: 10px;
*/
  margin: 0 20px 10px 0;
}
.wrapper .clear {
  /*aqui eu mandei que meus elementos parem de flutuar.
  clear: both;*/
}
.wrapper .gatinho2 {
  float: right;
}

.wrapper::after {
  /* aqui eu nao quero que tenha algum conteudo */
  content: "";
  display: table;
  /* se utilizar float sempre utilize clear, é o que possibilita meu fluxo do elemento volte ao normal/ é clear:both,por que eu to limpando tando embaixo quanto nas laterais */
  clear: both;
}

/* EXEMPLOS DE LAYOUT */
/* EXEMPLO 2 */
.wrapper2 {
  /*display: block; por padrao temos o display block por ser uma div*/
  background-color: #f7cd75d5;
  font-size: 1.5rem;
  width: 50rem;

  text-align: center;
  margin: 20px auto;
}

.box-1 {
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
  float: right;
}

.blue {
  background-color: blue;
  float: right;
}

.green {
  background-color: green;
  float: right;
}
/* WRAPPER 3 */
/* EXEMPLO 3 */
.wrapper3 {
  /*display: block; por padrao temos o display block por ser uma div*/
  background-color: #f7cd75d5;
  font-size: 1.5rem;
  width: 80%;

  /* text-align: center; */
  margin: 20px auto;
}

.wrapper3::after {
  /* aqui eu nao quero que tenha algum conteudo */
  content: "";
  display: table;
  /* se utilizar float sempre utilize clear, é o que possibilita meu fluxo do elemento volte ao normal/ é clear:both,por que eu to limpando tando embaixo quanto nas laterais */
  clear: both;
}

.service {
  width: 31%;
  border: 1px solid blue;
  float: left;
  min-height: 200px;
  margin: auto 1%;
  padding: 1%;
}
/* exemplo 4 */
.wrapper4 {
  border: 2px solid blue;
  padding: 40px;
  margin-top: 40px;
  position: relative;
}
/* 
.filha{
  position:relative;
  background-color:red;
  padding:20px;
top:20px;
left:20px;
/* } */
/* existe tambem o position:fixed; que mesmo que tenha rolamento ele permanece fixo na pagina, ideial para barras laterais */
.filha {
  position: absolute;
  background-color: red;
  padding: 20px;
  top: 500px;
  left: 20px;
}

/* Layouts em CSS - Design Responsivo, Imagens Fluídas e Media Queries */
/* imagem responsivo */
.wrapper5 {
  width: 600px;
}
.gatinho-responsivo {
  max-width: 100%;
  height: auto;
}

/* MEDIA QUERIES */
/* esses sao os valores padroes para as max-width: */

@media (max-width: 1200px) {
  body{background-color:red;}
  }
  

@media (max-width: 1024px) {
body{background-color:green;}
.service{
  width: 40%;
  margin-left:5%;

}
}

@media (max-width: 760px) {
  body{background-color:blue;
  }
  .gatinho-responsivo{
    display:none;

  }  
.service{
  width:100%;
  font-family:verdana;
  background:rgb(14, 228, 199);
}

}
  
  @media (max-width: 480px) {
    body{background-color:yellow;}
  }
    