/*APRENDENDO SOBRE CORES AULA 1*/

/*
h1{
color:rgba(255, 0, 0, 0.445);
o rgba add mais uma propriedade onde podemos deixar tranparente, mas a cor ainda continua vermelho
}
h1{
color:#ff000041;
aqui temos a transparencia em hexadecimal
}

h1{
color:#ff00ff;
cor roxa
}
*/

/*h1{
    background-color:aqua;
color:#ff00ff;
width: 50%;
border: 9px dotted gray;

}
*/
h2{
    width:50%;
    font: clamp(2rem, 5vh, 3.6rem) / 1.1 "Nunito", sans-serif;

font-weight:bold;
text-align:center; /* se refere ao testo dentro do h2*/
border: 9px solid red;
}

p{
background-color:black;
color:white;

}

span{
font-size: 40px;
font-family:"comic sans ms" ;
color:yellow;
text-decoration: underline;
text-transform:uppercase; /*letras maiuscula*/
}

ul{
font-size:30px;
list-style:square;

}

ol{
font-size:40px;
list-style:upper-latin;
margin-left:40px;
}

/*SOBRE ID E CLASSES*/

.conteudo {
    margin-left:1rem;
}

#titulo-principal{
    margin-left:5rem;
}

/* cascata e sobre escrever uma regra*/
.titulo-pagna{
    color:red;
    font-size: 5rem;
    border: 5px solid red;
}

.titulo{
    color:green;
    border-style: dashed;
}

