/*APRENDENDO SOBRE CORES AULA 1*/

/*
h1{
color:rgba(255, 0, 0, 0.445);
o rgba add mais uma propriedade onde podemos deixar tranparente, mas a cor ainda continua vermelho
}
h1{
color:#ff000041;
aqui temos a transparencia em hexadecimal
}

h1{
color:#ff00ff;
cor roxa
}
*/

/*h1{
    background-color:aqua;
color:#ff00ff;
width: 50%;
border: 9px dotted gray;

}
*/
h2{
    width:50%;
    font: clamp(2rem, 5vh, 3.6rem) / 1.1 "Nunito", sans-serif;

font-weight:bold;
text-align:center; /* se refere ao testo dentro do h2*/
border: 9px solid red;
}

p{
background-color:black;
color:white;

}

span{
font-size: 40px;
font-family:"comic sans ms" ;
color:yellow;
text-decoration: underline;
text-transform:uppercase; /*letras maiuscula*/
}

ul{
font-size:30px;
list-style:square;

}

ol{
font-size:40px;
list-style:upper-latin;
margin-left:40px;
}

/*SOBRE ID E CLASSES*/

.conteudo {
    margin-left:1rem;
}

#titulo-principal{
    margin-left:5rem;
}
/*1 - 0 - 0 = este seletor vai ter peso 1000 por que vou selecionar ele pelo id/ pegou nao importantando a posição que esta no css */

#titulo-principal{
color:aquamarine;


}
/* cascata e sobre escrever uma regra*/
/* 0 - 2 - 0 = seletor por duas classes , é peso somado, 2 classes peso 20, 3 classes peso 30*/
.titulo.titulo-pagna{color:#b66983;
margin-left:3rem;} /*este seletor é mais especifico que os seletores abaixo/por que eu quero todos que tiverem essas duas classes*/
/* 0 - 1 - 0 = seletor por classe tem peso 10*/
.titulo-pagna{
    color:red;
    font-size: 5rem;
    border: 5px solid red;
}
/* 0 - 1 - 0 = seletor por classe tem peso 10*/
.titulo{
    color:green;
    border-style: dashed;
}
/* 0 - 0 -1> seletor por tag tem peso 1*/
/*h1{
    color: blue !important;
}*/

h1{
    color: blue;
}

.titulo-generico{
font-size:40px;
color:red;

}


.container-exemplo  .titulo-generico{ 
    /*NAO IMPORTA O NIVEL, PEGUE TODOS OS ELEMENTOS QUE TEM O TITULO-GENERICO E APLIQUE AS REGRAS A SEGUIR*/
font-size:80px;
    color:#b263bd;

}

.meu-link{
font-size:40px;
text-decoration: none;

}

.meu-link:hover{
    font-size:50px;
    text-decoration: underline;
    background-color: brown;
    
    }

    .meu-link:link{

        color:green;
    }

    .meu-link:visited{

        color:#b66983;
    }

    .meu-link:active{ /* quando se esta apertando ele*/
        font-size:40px;
        color:#380315;
    }

    .meu-link:focus{/*aquilo que esta focado*/
        font-size:90px;
        color:#050505;
    }

    #nome{
        font-size:30px;
        color:#182b69;
        background:#130107;

    }

    #nome:focus{
        font-size:90px;
        color:#49051f;
        background:#b66983;

    }