/*APRENDENDO SOBRE CORES AULA 1*/

/*
h1{
color:rgba(255, 0, 0, 0.445);
o rgba add mais uma propriedade onde podemos deixar tranparente, mas a cor ainda continua vermelho
}
h1{
color:#ff000041;
aqui temos a transparencia em hexadecimal
}

h1{
color:#ff00ff;
cor roxa
}
*/
html{
font-size:16px;

}

div{

    font-size: 3rem;
}
h1{
    background-color:aqua;
color:#ff00ff;
width: 10%;
}